/* Permet de dimentionner la taille de la page*/
*{
    box-sizing: border-box;
}


/* Permet de redimentionner ou supprimer certains éléments selon la taille de l'écran utilisé*/
@media only screen and (max-width: 480px){
    *{
        display: none;
    }
}
@media only screen and (max-width: 767px){
    iframe{
        display: none;
    }

    .w-50{
        width: 100%;
        text-align: center;
    }

    img{

        display: none;
    }

    div div nav{
        display: none;
    }

}


/* Permet d'appliquer du style à l'en-tête, le corps et bas de page ( couleur, taille, et marge ) */
header{
    width: 100%;
    height: 75px;
    background-color: rgb(242, 232, 144);
}

body{
    margin:auto;
    padding:auto;
}

footer{
    margin-top: 5%;
    width: 100%;
    height: 200px;
    background-color: rgb(242, 232, 144);
}


/* Stylise toutes les balises ayant le même nom */
section{
    margin-top: 4%;
    margin-left: 7px;
    margin-right: 7px;
}

h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

h2{
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

label{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}

a{
    text-decoration: none;
    color: black;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img{
    height: 300px;
    width: 300px;
}

form{
    text-align: center;
    flex-direction: column;
    padding: 5%;
}


/* Change l'oppacité du texte quand on passe son curseur sur un lien */
a:hover{
    opacity: 0.7;
}


/* Change la police d'écriture pour chaque paragraphe */
p{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}


/* Enlève les puces initialement présente sur les liste*/
ul{
    list-style: none;
}


/* Ajoute du style sur une parcelle d'un code précis ( grâce au chemin utilisé )*/
nav ul li {
    margin: 0px 5px 0px 5px;
    border: 2px solid black;
    border-radius: 10%;
}

footer div ul li{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -30%;
}

form ul li{
    padding: 2%;
}


/* Styliser une parcelle de code en faisant appelle au ID ( id="..." ) */
#logo{
    height: 75px;
    width: 75px;
}

#logo_footer{
    height: 75px;
    width: 75px;
    margin-right: 14%;
}

#icon{
    height: 60px;
    width: 60px;
    margin: -10% 10% 0% 0% ;

}


#section1{
    margin-top: 4% 7px 0px 7px ;
    background-color: rgb(242, 232, 144);
}

#description{
    margin: 3% 5% 0% 5%;
}

#duck{
    margin-top: 5%;
}


/* Permet de déplacer des div et autres sur la page */
.d-flex {
    display: flex;
}


/* Permet de mettre des espaces entre les éléments */
.justify-content-between {
    justify-content: space-between;
}


/* Permet de centrer les éléments horizontalement*/
.justify-content-center {
    justify-content: center;
}


/* Permet de centrer les éléments verticalement*/
.align-items-center {
    align-items: center;
}


/* Permet de placer les éléments en colonne */
.flex-column {
    flex-direction: column;
}


/* Ajoute une bordure*/
.border {
    border: 2px solid black;
}


/* Permet de mettre les éléments à la fin */
.justify-content-end{
    justify-content: flex-end;
}


/* Permet de mettre de l'éspace autour des éléments */
.justify-content-around{
    justify-content: space-around;
}


.text-align-center{
    text-align: center;
}

.photo{
    margin: 5px;
    width: 300px;
    height: 300px;
}

.description {
    padding: 15px;
    text-align: center;
}

.square{
    width: 400px;
    height: 400px;
    background-color: rgb(233, 107, 49);
    border: 2px solid rgb(241, 84, 16);
}


/* Border-radius permet d'arrondir les coins */
.square2{
    width: 400px;
    height: 400px;
    background-color: rgb(242, 232, 144);
    border: 2px solid rgb(255, 251, 0);
    border-radius: 25%;
}

